body{
    
    background-image: url(https://qsf.is.quoracdn.net/-images.home.logged_out_bg3.png4318c33ac15420e3.png)
}
.Homepage {
    width: 650px;
    height: 100%;
    position: absolute;
    top: 10%;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;
    overflow-y: hidden
}
.logo {
    float: none;
    margin: auto;
    width: 160px;
    height: 100px;
    background-size: 160px 45px;
    background-image: url(https://qsf.is.quoracdn.net/-images.logo.wordmark_default.svgf0fecd31dbaf49fa.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 56px;
}
.tag {
    float: none;
    text-align: center;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 19px;
    line-height: 1.3;
    color: rgba(175,175,175,0.95);
    -webkit-font-smoothing: antialiased;
}
.content{
    background: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 4px 0 #dcdcdc;
    border-radius: 4px;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 22px;
    height: auto;
}
.signup{
    padding-right: 32px;
    border-right: 1px, solid, #e2e2e2;
    float: left;
    width: 50%;
}
.gmail{
    background-color: #df4930;
}
.gmail .line-1 {
    display: inline-block;
  padding: 0.25em 0.25em 0 0.25em;
  background-color: #021526;
  font-family: 'Lora', serif;
  font-size: 1.5em;
  color:#df4930;
    background-color: white;
}
google_button submit_button{
    color: aliceblue;
}
a{
    text-decoration: none;
}
.link{
    color: antiquewhite;
}
.fb{
    background-color: #4b4bd6;
    margin: 14px;
}
.fb .line-2 {
    display: inline-block;
  padding: 0.25em 0.25em 0 0.25em;
  background-color: #021526;
  font-family: 'Lora', serif;
  font-size: 1.5em;
  color:#4b4bd6;
    background-color: white;
}
form {
    bottom: auto;
    height: auto;
    left:300px;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 60px;
    overflow-y: hidden;
    position: absolute;
    right: 0px;
    top: 66.1875px;
    width: 650px;
    word-wrap: break-word;
    float: right
}
